@charset "UFT-8";

Body{background: #F3F3F3;} /* 배경색 */

/* ===================MO-header=================== */

/* pc-menu 숨기기 */
#gnb-pc{display: none;}

header {
    width: 100%;
    height: 55px;
    position: fixed;
    
    /*상단고정*/
    order: 1;
    z-index: 10;
}
header h1{
    display: flex;
    align-items: center;
    padding: 20px 0 0 25px;
    font-size: 15px;
    color: #000;
}
header h1 a{letter-spacing:1px}

/* menu-toggle-btn */
.menu-toggle-btn{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 16px;
    right: 18px;
    z-index: 200;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;
}

.menu-toggle-btn > div{
    width: 27px;
    height: 1.7px;
    border-radius: 2px;
    background-color: #000;
    margin: 5px 0; /*상하좌우 벌려주기*/
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* 햄버거 버튼 -> X모양 */
/* .active class가 붙었을 때 바뀌는 모양 지정 */
.menu-toggle-btn.active #one{
    transform: translateY(6.5px) rotate(-150deg);
    transition: all 0.6s ease-in-out;
    background-color: #fff;
}
.menu-toggle-btn.active #two{
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.menu-toggle-btn.active #three{
    transform: translateY(-7px) rotate(-30deg);
    transition: all 0.6s ease-in-out;
    background-color: #fff;
}

/* menu 뒷배경--------------------------------- */
.overlay{
    width: 100%;
    height: 0;
    background-color: rgba( 000, 000, 000, 0.8);
    z-index: 8; 
    position: fixed;
    top: 0;left: 0;right: 0;
    opacity: 0;
    /* 보이지는 않지만 화면에 공간이 유지되는 visibility 기능으로 숨겨줌 */
    visibility: hidden;
    transition: 0.3s;
}
.overlay.visible{
    height: 100%;
    opacity: 1;
    visibility: visible;
}


/* mo-menu--------------------------------- */
#gnb-mo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
    opacity: 1;
    visibility: visible;

    overflow: hidden;
}
#gnb-mo ul li{
    margin: 22px 0;
}
#gnb-mo ul li:first-child{
    margin: 0px 0 22px;
}
/* mo-menu fadeIn 효과------- */
@keyframes fadeInTop{
    0% { opacity: 0; transform: translatey(-25%);}
    100% { opacity: 1; transform: translatey(0);}
}
  /* 등장 시 y축으로 -25%에서 0으로 위에서 아래로 이동하며 fadein되게 함  */
.overlay.visible li{
    animation: fadeInTop 0.3s ease forwards;
}
/* menu 글자색상------- */
#gnb-mo ul li a{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    position: relative;
    
}
/* menu hover 밑줄효과------- */
#gnb-mo ul li.hover-line a::after{
    position: absolute;
    content:"";
    display: block;
    border-bottom: 3px solid #fff;
    /* width를 0에서 hover하면 0.3초만에 100%로 변하도록 설정 */
    width: 0;
    transition: width 0.3s ease-out;
}
#gnb-mo ul li a.hover-line:hover p::after{
    width: 100%; 
}

/* #gnb-mo ul li a:hover{
    text-decoration: underline;
    text-underline-position:under;
    
} */

/* 바로가기 버튼--------------------------------- */
#gnb-mo ul li.link{
    float: left;
    margin: 18px 10px 50px;
}
#gnb-mo ul li.link a:hover{
    text-decoration: none;
}
div.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 55px;
    border: 1px solid #fff;
    font-size: 35px;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
    border-radius: 100px;
    color: #fff;
}
div.btn.btn--white{
    background-color: #fff;
    color: #000;
}
div.btn.btn--black{
    width: 113px;
}
/* btn효과-------- */
div.btn:hover{
    transform: scale(1.2); /*scale로 hover시 btn 커짐*/
}


/* ========================Mo-content======================== */
.content{
    width: 100%;height: 100vh;
    display: flex;
    justify-content: center;
}

.content .inner{
    width: 82%;
    height: 80vh;
    margin: auto;
    overflow-y: auto; /*스크롤바*/
}
/* 스크롤바 투명 */
.scroolBar::-webkit-scrollbar {
    display: none;
}

/* 이미지 img------------------------ */

.pf-img{
    width: 90%;
    height: 180px;
    background-size: cover;
    margin: 30px auto 15px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}s
.pf-img.addict{
    background: url(../images/site-img/addict.png) no-repeat center;
}
.pf-img.starbucks{
    background: url(../images/site-img/starbucks.png) no-repeat center;
}
.pf-img{}
.pf-img{}




/* head-title---------------------- */
.pf-head-title{
    display: flex;
    flex-flow: row nowrap;
}
.pf-head-title p{font-weight: 100;letter-spacing: 1.1px;}
.pf-head-title p:first-child{
    font-size: 8px;
    padding: 0 4px 0 0;
}
.pf-head-title p:last-child{
    font-size: 12px;
}


/* pf-title------------------------ */
.txt-container{width: 85%;margin: auto;}

.pf-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.pf-title h2{
    font-size: 6vw;
    font-weight: 900;
}
.pf-title span{
    font-weight: 100;
    font-size: 13px;
    padding: 0 0 5px 6px ;
}

/* pf-txt------------------------- */
.pf-txt{
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}

/* 브랜드 타입------- */
.pf-txt .txt-group{line-height: 1;}
.pf-txt .txt-group p{
    font-size: 8px;
    color: #121212;
    margin-top: 5px;
}
.pf-txt .txt-group span{
    font-size: 6px;
    font-weight: 100;
    color: #494949;
}
.pf-txt .txt-group span:last-child{
    display: block;
    width: 45px;
    height: 1px;
    background-color: #636363;
    margin: 17px 0 10px;
}

/* TXT - 사용기술 등-------  */
.pf-txt ul{
    display: flex;
    align-items: center; /* slash(/)가운데 배치 */
    padding: 7px 0;
}
.pf-txt ul li{
    float: left;
    font-size: 10px;
    font-weight: 700;
    
}
.pf-txt ul li span, .pf-txt .txt-page span{
    font-size: 7px;
    font-weight: 100;
    letter-spacing: 1px;
}
.pf-txt ul li.slash{
    font-size: 20px;
    padding: 0 9px 0 7px;
    color: #7D7D7D;
}

/* 페이지구성------- */
.pf-txt .txt-page{padding: 7px 0;}
.pf-txt .txt-page p{
    font-size: 10px;
    font-weight: 700;
    line-height: 0.5;
}
.pf-txt .txt-page span{font-size: 7px;}


/* 페이지 바로가기 btn--------------------------- */
.txt-btn{margin: 20px 0;}
.txt-btn .btn-top, .txt-btn .btn-bottom{
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 0;
}
.txt-btn input{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 10px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 0 13px 0 -8px; /* input 버튼 좌우 간격*/

    font-size: 13px;
    font-weight: 400;
    cursor: pointer;

    transition: all 0.5s ease-in-out;
}
/* btn-hover 효과------- */
.txt-btn input:hover{
    color: #fff;
    background: #000;
}
.txt-btn .btn-bottom a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 5px; /*버튼 좌우 간격*/
}
.txt-btn .btn-bottom a div{
    padding: 3px 7px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #7D7D7D;
    font-size: 13px;
    transition: all 0.5s ease-in-out;

    font-weight: 900;
}
.txt-btn .btn-bottom a:hover div{
    background-color: #000;
    color: #fff;

}
.txt-btn .btn-bottom a p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px; /* report txt 왼쪽 간격*/
    position: relative
}

/* btn-hover 밑줄효과------- */
.txt-btn .btn-bottom a p::after{
    position: absolute;
    content:"";
    display: block;
    border-bottom: 3px solid #000;
    /* width를 0에서 hover하면 0.3초만에 100%로 변하도록 설정 */
    width: 0;
    transition: width 0.3s ease-in-out; 
    left: auto; right: 0;
    /* left: auto, hover시 right:auto 설정 시 왼쪽에서 시작해서 오른쪽에서 끝나는게 반복됨 */
}
.txt-btn .btn-bottom a:hover p::after{
    width: 100%; left: 0; right: auto;
}



/* =======================MO-other-projects======================= */
.content .other-pj{
    width: 87%;
    margin: 35px auto 0;
}
/* 제목--------------------------------- */
.content .other-pj > p{
    /* Other Projects */
    font-size: 17px;
    font-weight: 900;
    color: #494949;
    margin: 10px 0;
    letter-spacing: 0.8px;
}

/* list--------------------------------- */
.content .other-pj ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.content .other-pj ul li{
    width: 49%;
    height: 150px;
    
    position: relative; /*하위 이미지, txt 정렬*/
    cursor: pointer;

    background-size: contain;
    background-color: #E1E1E1;
    border-radius: 15px;
    
    margin-bottom: 1.5%;
    overflow: hidden;
}
.content .other-pj ul li.list{
    /* 하단 이미지 세장 정렬 */
    width: 32%;
    height: 110px;
}

/* 배경 hover 효과------- */
.content ul li .hover-box{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;

    background: rgba(0,0,0,0.5);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.content ul li:hover .hover-box{
    opacity: 1;
}

/* other-pj 이미지--------------------------------- */
.content .img-cont{
    height: 150px;
    background-size: contain;
    background-color: #E1E1E1;
    border-radius: 15px;
    /* margin: 5px; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.content .img-cont.small-img{
    height: 110px;
    /* margin: 5px 4px; */
}

/* 개별 이미지------- */
.content .img-cont{padding: 5px;}
.other-pj ul li.list-st .img-cont{
    background: url(../images/site-img/pc-starbucks.png) no-repeat center;
    background-size: cover;
    background-color: #E1E1E1;
    transition: all 0.5s ease-in-out;
}
/* .other-pj ul li.list-st:hover .img-cont{
    background: url(../images/site-img/starbucks.png) no-repeat center;
    background-size: cover;
    background-color: #E1E1E1;
    z-index: 9;
} */
.other-pj ul li.list-sp .img-cont{
    background: url(../images/site-img/pc-seohora.png) no-repeat center;
    background-size: cover;
    background-color: #E1E1E1;
    transition: all 0.5s ease-in-out;
}
/* .other-pj ul li.list-sp:hover .img-cont{
    background: url(../images/site-img/sephora.png) no-repeat center;
    background-size: cover;
    background-color: #E1E1E1;
    z-index: 9;
} */

.other-pj ul li.list-uxui .img-cont{
    background: url(../images/site-img/tab-plantlife.png) no-repeat center;
    background-size: cover;
    background-color: #E1E1E1;
    transition: all 0.5s ease-in-out;
}

/* 이미지 hover효과 ------- */
.other-pj ul li:hover .img-cont{
    transform: scale(1.2); /* scaler값을 주어 hover 시 이미지 확대*/
}


/* TXT & TXT hover효과--------------------------------- */
.other-pj ul li p{
    position: absolute;
    bottom: 0px;
    left: 8px;
    z-index: 10;
    font-size: 12px;
    color: #fff;

    opacity: 0;
    transition: all 0.4s ease-in-out; 
}
.other-pj ul li:hover p{
    /* other-pj hover 효과 */
    opacity: 1;
    bottom: 13px;

}
.other-pj ul li p.list-only-txt{
    /* REACT / Other Design 텍스트 */
    font-size: 3vw;
    font-weight: 400;
    margin: auto;
    bottom: 0px;
    left: 10px;
    color: #fff;
}
.other-pj ul li:hover p.list-only-txt{
    bottom: 16px;
}




/* ===============Tab=============== */
@media all and (min-width:768px){
    /* ============tab-header============ */
    header{
        height: 70px;
    }
    header h1{
        font-size: 15px;
        padding: 25px 0 0 25px;
    }

    /* menu-toggle-btn */
    .menu-toggle-btn{
        /* background-color: greenyellow; */
        top: 22px;
        right: 23px;
    }

    /* tab-menu---------------- */
    #gnb-mo ul li{
        margin: 30px 0;
    }
    #gnb-mo ul li:first-child{
        margin: 0px 0 30px 0;
    }
    /* menu 글자색상 */
    #gnb-mo ul li a{
        font-size: 60px;
    }
    
    /* link 버튼--------------- */
    #gnb-mo ul li.link{
        float: left;
        margin: 20px 7px 70px;
    }
    #gnb-mo ul li.link a:hover{
        text-decoration: none;
    }
    div.btn{
        width: 170px;
        height: 72px;
        font-size: 42px;
        font-weight: 100;
        /* transition: all 0.3s ease-in-out; */
    }
    div.btn.btn--white{
        background-color: #fff;
        color: #000;
    }
    div.btn.btn--black{
        width: 118px;
    }


    /* Mo-content======================== */

    /* 이미지 img------------------------ */
    .pf-img{
        width: 90%;
        height: 300px;
        background: url(../images/site-img/addict.png) no-repeat center;
        background-size: cover;
        margin: 30px auto 15px;
        border-radius: 15px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* head-title---------------------- */
    .pf-head-title p:first-child{
        font-size: 12px;
        padding: 0 4px 0 0;
    }
    .pf-head-title p:last-child{
        font-size: 14px;
    }

    /* pf-title------------------------ */
    .pf-title span{
        font-size: 18px;
    }

    /* pf-txt------------------------- */
    /* txt-group */
    .pf-txt .txt-group{line-height: 1.2;}
    .pf-txt .txt-group p{
        font-size: 14px;
    }
    .pf-txt .txt-group span{
        font-size: 11px;
    }

    /* txt-use */
    .pf-txt ul li{
        float: left;
        font-size: 14px;
        font-weight: 700;
    }
    .pf-txt ul li span, .pf-txt .txt-page span{
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.8;
    }
    .pf-txt ul li.slash{
        font-size: 23px;
        padding: 0 12px 0 10px;
        color: #7D7D7D;
    }
    
    .pf-txt .txt-page{padding: 7px 0;}
    .pf-txt .txt-page p{
        font-size: 14px;
        font-weight: 700;
    }

    /* btn--------------------------- */
    .txt-btn input{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 20px;
        margin: 0 13px 0 -8px; /* input 버튼 좌우 간격*/

        font-size: 16px;
        font-weight: 400;
        cursor: pointer;

        transition: all 0.5s ease-in-out;
}

.txt-btn .btn-bottom a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 8px; /*버튼 좌우 간격*/
}
.txt-btn .btn-bottom a div{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #7D7D7D;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}
.txt-btn .btn-bottom a:hover div{
    background-color: #000;
    color: #fff;
}
.txt-btn .btn-bottom a p{
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px; /* report txt 왼쪽 간격*/
    position: relative
}





}



/* ========================PC======================== */
@media all and (min-width:1200px){
    /* ===================PC-header=================== */
    /* MO 메뉴 숨기기 */
    #gnb-pc{display: flex;}
    #gnb-mo, .menu-toggle-btn{display: none;}
    
    header{
        width: 100%;
        height: 90px;
        /* background-color: violet; */
        display: flex;
        justify-content: center;
    }
    header .inner{
        width: 100%;
        margin: 0 3%;
        height: 90px;
        /* background-color: royalblue; */
        position: relative;
    }
    header h1{
        padding: 35px 0;
        font-size: 17px;
    }
    /* PC 메뉴--------------------------------- */
    #gnb-pc{
        position: absolute;
        right: 0;
        top: 35px;
    }
    #gnb-pc ul li{
        float: left;
        margin: 0 25px;
        position: relative;
    }
    #gnb-pc ul li:nth-child(4){
        margin: 0 30px;
    }
    #gnb-pc ul li a{
        font-size: 17px;
        letter-spacing: 0.5px;
        color: #000;
    }
    #gnb-pc ul li.hover-line a::after{
        position: absolute;
        content:"";
        display: block;
        border-bottom: 2px solid #000;
        
        /* width를 0에서 hover하면 0.3초만에 100%로 변하도록 설정 */
        width: 0;
        transition: width 0.3s ease-in-out;
    }
    #gnb-pc ul li.hover-line:hover a::after{
        width: 100%; 
    }
    /* #gnb-pc ul li a:hover{
        text-decoration: underline;
        text-underline-position:under;
    } */

    /* PC 바로가기 버튼--------------------------------- */
    #gnb-pc ul li.link{
        margin: 0 13px;
    }
    #gnb-pc ul li:last-child{
        margin: 0 0 0 13px;
    }
    #gnb-pc ul li.link a:hover{
        text-decoration: none;
    }
    
    div.btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 26px;
        border: 1px solid #000;
        font-size: 17px;
        font-weight: 100;
        transition: all 0.4s ease-in-out;
        border-radius: 100px;
        color: #000;
    }
    div.btn.btn--white{
        background-color: #000;
        color: #fff;
    }
    div.btn.btn--black{
        width: 58px;
    }
    /* btn효과-------- */
    div.btn:hover{
        transform: scale(1.2); /*scale로 hover시 btn 커짐*/
    }

    /* ===================PC-PORTFOLIO=================== */
    .content .inner{
        width: 100%;
        height: 82vh;
        margin: auto 11%;
        overflow: scroll;

        display: flex;
        flex-wrap: wrap;
        /* flex-flow: row wrap; */
        padding-top: 00px;
    }

    /* head-title--------------------------------- */
    .content .pf-head-title{
        width: 100%;
        height: auto;
        padding-top: 40px;
        /* background-color: aqua; */
        /* position: absolute; */
    }

    /* 이미지 img--------------------------------- */
    .content .pf-img{
        width: 50%;
        height: 70vh;
        background: url(../images/site-img/addict.png) no-repeat;
        background-size: cover;
        background-position: -50px center; /*x축 y축*/
    }

    /* portfolio-title--------------------------------- */
    .content .right{width: 50%;margin: auto;}
    .content .txt-container{
        width: 100%;
        padding: 0 5%;
    }
    .pf-title h2{
        font-size: 4vw;
    }
    .pf-title span{
        font-weight: 100;
        font-size: 1.5vw;
        padding: 0 0 13px 10px ;
    }

    /* porfolio-txt--------------------------------- */
    /* 사용기술 & 사용프로그램 ------- */
    .pf-txt .txt-group p{font-size: 12px;}
    .pf-txt .txt-group span{font-size: 9px;}
    .pf-txt .txt-group span:last-child{width: 50px;}

    /* 참여도 & 제작기간 & TPYE------- */
    .pf-txt ul{
        padding: 7px 0;
    }
    .pf-txt ul li{font-size: 14px;}
    .pf-txt ul li span, .pf-txt .txt-page span{font-size: 12px;}
    .pf-txt ul li.slash{
        font-size: 26px;
        padding: 0 20px 0 18px;
    }
    .pf-txt .txt-page{padding: 5px 0;}
    .pf-txt .txt-page p{font-size: 14px;}
    .pf-txt .txt-page span{font-size: 12px;}

    /* porfolio-btn--------------------------------- */
    .txt-btn input{
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 18px;
    }
    .txt-btn .btn-bottom a{
        margin-left: 12px; /*버튼 좌우 간격*/
    }

    .txt-btn .btn-bottom a div{
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 22px;
    }
    .txt-btn .btn-bottom a p{
        font-size: 20px;
        margin-left: 12px; /* report txt 왼쪽 간격*/
    }

    /* =======================PC-other-projects=================== */
    .content .other-pj{
        width: 87%;
        margin: auto;
    }
    .content .other-pj ul{flex-flow: row nowrap;justify-content: center;}
    .content .other-pj ul li, .other-pj ul li.list{width: 100/5%;margin: 0 01% 0 0;height: 100px;}
    .other-pj ul li.list:last-child{margin: 0;}


    /* other-pj 이미지--------------------------------- */
    .content .other-pj ul li.list{height: 100px;}
    .content .other-pj ul li .img-cont{height: 100px;}
    .other-pj ul li.list-uxui .img-cont{background-size: cover;height: 100px;}
    .content .other-pj ul li .small-img{height: 100px;}

    /* other-pj TXT--------------------------------- */
    .other-pj ul li p.list-only-txt{
        /* REACT / Other Design 텍스트 */
        font-size: 1vw;
        font-weight: 400;
        margin: auto;

        left: 15px;
    }





}